@charset "UTF-8";
@font-face {
	font-family: 'promptregular';
	src: url('../fonts/prompt-regular-webfont.eot');
	src: url('../fonts/prompt-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/prompt-regular-webfont.woff2') format('woff2'),
		 url('../fonts/prompt-regular-webfont.woff') format('woff'),
		 url('../fonts/prompt-regular-webfont.ttf') format('truetype'),
		 url('../fonts/prompt-regular-webfont.svg#promptregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

$dfTextColor: "#4C4A4A";
$dfFontSize: 1.275em;
@mixin treegrid {
	width: 0;
	height: 16px;
	display: inline-block;
	position: relative;
}
@mixin mr0pd0 {
	margin: 0;
	padding: 0;
}
body {
	color: $dfTextColor;
	font-family: 'Prompt', promptregular, sans-serif;
	font-size: $dfFontSize;
}
.treegrid-indent {@include treegrid}
.treegrid-expander {
	@include treegrid;
	left: -17px;
	cursor: pointer;
}
.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/Blocks.gif') 50% 50% no-repeat rgb(249,249,249);
}
.iudc-header {
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	position: relative;
	background: #555299;
}
.iudc-header div,
.iudc-header figure,
.iudc-header h2,
.iudc-header p {
	@include mr0pd0;
	font-family: 'Prompt', promptregular, sans-serif;
}
.iudc-header:after {
	content: "";
	display: block;
	clear: both;
}
.moph-logo {
	position: absolute;
	width: 86px;
	left: 60px;
	top: 8px;
}
.iudc-title {
	position: absolute;
	top: 24px;
	left: 154px;
}
.iudc-title h2 {
	font-size: 2em;
	color: white;
}
.iudc-title p {
	font-size: 1.475em;
	color: white;
}
.content-header h1, .box-title {
	display: inline-block;
	@include mr0pd0;
	font-size: 1.475em;
	font-family: 'Prompt', promptregular, sans-serif;
}
.box-title {
	font-size: 1.275em;
}
table.iudc-tbl {
	width: 99%;
	margin: 0 auto;
	border: 1px solid #eeeeee;
	border-collapse: collapse;
	border: 1px solid #eeeeee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
table.iudc-tbl tr th,
table.iudc-tbl tr td {
	padding: 10px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
table.iudc-tbl tr:first-child th:last-child,
table.iudc-tbl tr td:last-child {
	border-right: none;
}
